<div class="profil">
  <app-header></app-header>
  <div class="container">
    <div class="info" *ngIf="!update && user">
      <p>Username</p>
      <p>{{ user.username}}</p>
      <p>Email</p>
      <p>{{ user.email}}</p>
    </div>
    <form class="form" *ngIf="update && form" [formGroup]="form" (ngSubmit)="updateUser()">
      <div class="field">
        <label>Username</label>
        <input type="text" formControlName="username"/>
      </div>
      <div class="field">
        <label>Email</label>
        <input type="email" formControlName="email"/>
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" formControlName="password"/>
      </div>
      <div class="update-action">
        <button type="submit" [disabled]="form.invalid">Update</button>
      </div>
    </form>
    <div class="actions" *ngIf="!update">
      <button (click)="goUpdate()">Edit</button>
      <button (click)="logout()">Logout</button>
    </div>
    <hr *ngIf="!update"/>
    <div class="subscriptions" *ngIf="!update && user && user.topics && user.topics.length > 0">
      <p>Subscriptions</p>
      <div class="list-subscriptions">
        <ul>
          <li *ngFor="let topic of user.topics">
            <input disabled [value]="topic.name"/>
            <button (click)="unfollow(topic.id)">Unsubscribre</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
