<div class="register">
  <app-header></app-header>
  <div class="container">
    <div class="form">
      <div class="field">
        <label>Username</label>
        <input type="text"/>
      </div>
      <div class="field">
        <label>Email</label>
        <input type="email"/>
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password"/>
      </div>
      <div class="action">
        <button>Register</button>
      </div>
    </div>
  </div>
</div>
