<div class="add-topic">
  <app-header></app-header>
  <div class="container">
    <div class="form">
      <div class="field">
        <label>Topic</label>
        <input type="text"/>
      </div>
      <div class="field">
        <label>Title</label>
        <input type="email"/>
      </div>
      <div class="field">
        <label>Content</label>
        <textarea rows="8"> </textarea>
      </div>
    </div>
    <div class="action">
      <button routerLink="/home">Save</button>
    </div>
  </div>
</div>
