.post {
    border: 1px solid grey;
    border-radius: 10px;
    width: 100%;
    min-width: 500px;
    padding: 20px;
    max-width: 500px;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
}

hr {
    margin: 10px 0;
}

.detail {
    display: flex;
    margin-top: 10px;
    margin-inline: auto;
}
