.detail {
    width: min(100vw - 40rem);
    margin-inline: auto;
}

hr {
    height: 1px;
    border: none;
    background-color: purple;
}

.info {
    width: min(60% - 10rem);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.comments {
    width: min(60% - 10rem);
    margin-inline: auto;
}

.comment {
    margin: 0 0 20px 0;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
}

.comment-add {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.comment-input {
    max-width: 450px;
    height: 35px;
    margin: 0 10px;
}

.add-comment {
    width: 200px;
}
